.margin_row {
	border: 1px solid red;
}

.margin_col {
	border: 1px solid black;
}

.title{
	padding-left:5px;
	padding-right:5px;
	font-family: 'Barlow Condensed', sans-serif;
	font-size:17px;
}

.title_main{
	text-decoration: underline;
	font-size:17px;
}

.bullet { font: 10px sans-serif; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #99B3E6/*#a3a3c2*/; }
.bullet .range.s1 { fill: #ADC2EB/*#b3b3cc*/; }
.bullet .range.s2 { fill: #C2D1F0/*#c2c2d6*/; }
.bullet .range.s3 { fill: #D6E0F5/*#d1d1e0*/; }
.bullet .range.s4 { fill: #EBF0FA/*#e0e0eb*/; }
.bullet .range.m4 { fill: #FFF2E6; }
.bullet .range.m3 { fill: #FFE5CC; }
.bullet .range.m2 { fill: #FFD7B3; }
.bullet .range.m1 { fill: #FFCA99; }
.bullet .range.m0 { fill: #FFBD80; }
.bullet .range.s0:hover{ transform: scale(1.01); }
.bullet .range.s1:hover{ transform: scale(1.01); }
.bullet .range.s2:hover{ transform: scale(1.01); }
.bullet .range.s3:hover{ transform: scale(1.01); }
.bullet .range.s4:hover{ transform: scale(1.01); }
.bullet .title { 
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	/*font-weight: bold;*/}
.bullet .title:hover{ transform: scale(1.05); }

.font{ 
	font-family: 'Quicksand', sans-serif !important;
	font-size: 15px;
	/*font-weight: bold;*/
}
.active{
	border-bottom: solid 2px rgb(165, 0, 38); 
}

.titles {
    font-family: 'Quicksand', sans-serif !important;
	font-size: 9px !important;
}

